@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    font-family: 'Open Sans', sans-serif !important;
    user-select: none;
}

.bottom-inner-shadow {
    /* box-shadow: 1px -83px 223px -44px rgba(0,0,0,0.9) inset; */
    box-shadow: 20px -440px 160px -44px rgba(0, 0, 0, 0.9) inset;
}

@keyframes fade-in-animation {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0.3;
    }
}

@keyframes scale-up-animation {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.35);
    }
}

.animate-scale-up {
    animation: scale-up-animation 950ms 600ms ease-out forwards;
}

.animate-fade-in {
    animation: fade-in-animation 1s 700ms ease-in forwards;
    opacity: 1;
}